<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="heads">
    <meta charset="UTF-8">
    <title>Gestión del Gimnasio Team Legión</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/64d16c7608.js}"></script>
    <script src="https://kit.fontawesome.com/64d16c7608.js" crossorigin="anonymous"></script>
    <style>
		.bg-black-alt  {
			background:#191919;
		}
		.text-black-alt  {
			color:#191919;
		}
		.border-black-alt {
			border-color: #191919;
		}



    </style>
</head>
<body class="bg-black-alt font-sans leading-normal tracking-normal">

<nav th:fragment="headers" id="header" class="bg-gray-900 fixed w-full z-10 top-0 shadow">


    <div class="w-full container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 md:pb-0">

        <div class="w-1/2 pl-3 md:pl-0">

        </div>
        <div class="w-1/2 pr-0">
            <div class="flex relative inline-block float-right">

                <div class="relative text-sm text-gray-100">
                    <button id="userButton" class="flex items-center focus:outline-none mr-3">
                        <img class="w-8 h-8 rounded-full mr-4" src="http://i.pravatar.cc/300" alt="Avatar usuario"><span
                            class="hidden md:inline-block text-gray-100">JuanG</span>
                        <svg class="pl-2 h-2 fill-current text-gray-100" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                             xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
                            <g>
                                <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
                            </g>
                        </svg>
                    </button>
                    <div id="userMenu"
                         class="bg-gray-900 rounded shadow-md mt-2 absolute mt-12 top-0 right-0 min-w-full overflow-auto z-30 invisible">
                        <ul class="list-reset">
                            <li><a href="#"
                                   class="px-4 py-2 block text-gray-100 hover:bg-gray-800 no-underline hover:no-underline">Mi
                                perfil</a></li>
                            <li>
                                <hr class="border-t mx-2 border-gray-400">
                            </li>
                            <li><a href="#"
                                   class="px-4 py-2 block text-gray-100 hover:bg-gray-800 no-underline hover:no-underline">Salir</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="block lg:hidden pr-4">
                    <button id="nav-toggle"
                            class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-100 hover:border-teal-500 appearance-none focus:outline-none">
                        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>
                            Menu</title>
                            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                        </svg>
                    </button>
                </div>
            </div>

        </div>


        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-900 z-20"
             id="nav-content">
            <ul class="list-reset lg:flex flex-1 items-center px-4 md:px-0">
                <li class="mr-6 my-2 md:my-0">
                    <a href="/"
                       class="block py-1 md:py-3 pl-1 align-middle text-blue-400 no-underline hover:text-gray-100 border-b-2 border-blue-400 hover:border-blue-400">
                        <i class="fas fa-home fa-fw mr-3 text-blue-400"></i><span
                            class="pb-1 md:pb-0 text-sm">Inicio</span>
                    </a>
                </li>
                <li class="mr-6 my-2 md:my-0">
                    <a th:href="@{/gym/dashboard/miembros}"
                       class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900  hover:border-pink-400">
                        <i class="fas fa-users mr-3"></i><span class="pb-1 md:pb-0 text-sm">Miembros</span>
                    </a>
                </li>
                <li class="mr-6 my-2 md:my-0">
                    <a href="/"
                       class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900  hover:border-purple-400">
                        <i class="fas fa-user mr-3"></i><span class="pb-1 md:pb-0 text-sm">Clientes</span>
                    </a>
                </li>
                <li class="mr-6 my-2 md:my-0">
                    <a href="/"
                       class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900  hover:border-green-400">
                        <i class="fas fa-user-tie mr-3"></i><span class="pb-1 md:pb-0 text-sm">Profesores</span>
                    </a>
                </li>
                <li class="mr-6 my-2 md:my-0">
                    <a th:href="@{/gym/dashboard/inscripciones}"
                       class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900  hover:border-red-400">
                        <i class="fas fa-calendar mr-3"></i><span class="pb-1 md:pb-0 text-sm">Inscripciones</span>
                    </a>
                </li>
                <li class="mr-6 my-2 md:my-0">
                    <a th:href="@{/gym/dashboard/pagos}"
                       class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900  hover:border-red-400">
                        <i class="fas fa-file-invoice-dollar mr-3"></i><span class="pb-1 md:pb-0 text-sm">Pagos</span>
                    </a>
                </li>
                <li class="mr-6 my-2 md:my-0">
                    <a href="/"
                       class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900  hover:border-red-400">
                        <i class="fas fa-medal mr-3"></i><span class="pb-1 md:pb-0 text-sm">Competidores</span>
                    </a>

                </li>
                <li class="mr-6 my-2 md:my-0">
                    <a th:href="@{/gym/dashboard/torneos}"
                       class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900  hover:border-red-400">
                        <i class="fas fa-trophy mr-3"></i><span class="pb-1 md:pb-0 text-sm">Torneos</span>
                    </a>
                </li>
                <li class="mr-6 my-2 md:my-0">
                    <a href="/"
                       class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900  hover:border-red-400">
                        <i class="fa fa-wallet fa-fw mr-3"></i><span class="pb-1 md:pb-0 text-sm">Reportes</span>
                    </a>
                </li>


            </ul>
        </div>

    </div>
</nav>

<!--Contenedor-->
<div class="container w-full mx-auto pt-20 mt-10">

    <div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal">


    </div>


</div>
<!--/container-->

<footer class="bg-gray-900 border-t border-gray-400 shadow">
    <div class="container max-w-md mx-auto flex py-8">

        <div class="w-full mx-auto flex flex-wrap">
            <div class="flex w-full md:w-1/2 ">
                <div class="px-8">
                    <h3 class="font-bold font-bold text-gray-100">Acerca de</h3>
                    <p class="py-4 text-gray-600 text-sm">Aplicación Web para el Gimnasio TeamLegion Riobamba</p>
                    <p class="py-4 text-gray-600 text-sm">&#169 Paul Bolaños - Todos los derechos reservados</p>
                </div>
            </div>

            <div class="flex w-full md:w-1/2">
                <div class="px-8">
                    <h3 class="font-bold font-bold text-gray-100">Redes Sociales</h3>
                    <ul class="list-reset items-center text-sm pt-3">
                        <li>
                            <a class="inline-block text-gray-600 no-underline hover:text-gray-100 hover:text-underline py-1"
                               href="#">Facebook</a>
                        </li>
                        <li>
                            <a class="inline-block text-gray-600 no-underline hover:text-gray-100 hover:text-underline py-1"
                               href="#">Instagram</a>
                        </li>
                        <li>
                            <a class="inline-block text-gray-600 no-underline hover:text-gray-100 hover:text-underline py-1"
                               href="#">WhatsApp</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</footer>

<script>


	/*Toggle dropdown list*/
	/*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

	var userMenuDiv = document.getElementById("userMenu");
	var userMenu = document.getElementById("userButton");

	var navMenuDiv = document.getElementById("nav-content");
	var navMenu = document.getElementById("nav-toggle");

	document.onclick = check;

	function check(e){
	  var target = (e && e.target) || (event && event.srcElement);

	  //User Menu
	  if (!checkParent(target, userMenuDiv)) {
		// click NOT on the menu
		if (checkParent(target, userMenu)) {
		  // click on the link
		  if (userMenuDiv.classList.contains("invisible")) {
			userMenuDiv.classList.remove("invisible");
		  } else {userMenuDiv.classList.add("invisible");}
		} else {
		  // click both outside link and outside menu, hide menu
		  userMenuDiv.classList.add("invisible");
		}
	  }

	  //Nav Menu
	  if (!checkParent(target, navMenuDiv)) {
		// click NOT on the menu
		if (checkParent(target, navMenu)) {
		  // click on the link
		  if (navMenuDiv.classList.contains("hidden")) {
			navMenuDiv.classList.remove("hidden");
		  } else {navMenuDiv.classList.add("hidden");}
		} else {
		  // click both outside link and outside menu, hide menu
		  navMenuDiv.classList.add("hidden");
		}
	  }

	}

	function checkParent(t, elm) {
	  while(t.parentNode) {
		if( t == elm ) {return true;}
		t = t.parentNode;
	  }
	  return false;
	}




</script>

</body>
</html>