<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
  <meta charset="UTF-8">
</head>
<body class="bg-gray-300 font-sans flex">

<nav th:replace="layout/layout :: navbar"></nav>

<!--Contenedor-->
<div class="w-full flex flex-col h-screen overflow-y-hidden">
  <header th:replace="layout/layout :: headerdk"></header>
  <header th:replace="layout/layout :: headerm"></header>

  <div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
    <main class="w-full flex-grow p-6">
      <h1 th:text="${titulo}" class="text-2xl dark:text-white text-black-alt font-bold pb-6"></h1>
      <form th:action="@{/gym/competidores/guardar}" th:object="${competidores_torneo}" method="post">
        <input type="hidden" th:field="*{idCompetidorTorneo}" th:value="${competidores_torneo.idCompetidorTorneo}"/>
        <div class="grid gap-4 md:gap-6 mb-6">
          <div>
            <label class="block mb-2 text-sm md:text-base font-medium text-gray-900">Competidor</label>
            <select class="p-2.5 bg-gray-400 border focus:border-blue-500 focus:ring-blue-500 focus:outline-none rounded-lg w-full"
                    th:field="*{idPersona}" required>
              <th:block th:each="personas : ${listaPersonas}">
                <option th:text="${personas.nombre}+' '+${personas.apellidos}" th:value="${personas.idPersona}"></option>
              </th:block>
            </select>
          </div>
          <div>
            <label class="block mb-2 text-sm md:text-base font-medium text-gray-900">Torneo</label>
            <select class="p-2.5 bg-gray-400 border focus:outline-none focus:ring-blue-500
            focus:border-blue-500 rounded-lg w-full" id="idTorneo" th:field="*{idTorneo}" required>
              <th:block th:each="torneos : ${listaTorneos}">
                <option th:text="${torneos.nombre}+' ('+${torneos.ciudad}+')'"  th:value="${torneos.idTorneo}"></option>
              </th:block>
            </select>
          </div>
          <div>
            <label for="pesoc" class="block mb-2 text-sm md:text-base font-medium text-gray-900">Peso de competencia</label>
            <input type="number" step="0.1" min="30" max="250" id="pesoc" th:field="*{pesoc}"
                   class="bg-gray-400 border border-gray-300 text-gray-900 text-sm md:text-base rounded-lg
                    focus:outline-none focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder:text-gray-500"
                   placeholder="Ingrese el peso de competencia" required>
          </div>
          <div class="mb-6">
            <label for="categoriaPeso" class="block mb-2 text-sm md:text-base font-medium text-gray-900">Categoría de Peso</label>
            <input type="text" id="categoriaPeso" th:value="${competidores_torneo.categoriaPeso}" th:field="*{categoriaPeso}"
                   class="bg-gray-400 border border-gray-300 text-gray-900 text-sm md:text-base rounded-lg
                   focus:outline-none focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder:text-gray-500"
                   placeholder="Ingrese la categoría de peso" required
            pattern="^([A-Za-zÑñÁáÉéÍíÓóÚú]+['\-]{0,1}[A-Za-zÑñÁáÉéÍíÓóÚú]+)(\s+([A-Za-zÑñÁáÉéÍíÓóÚú]+['\-]{0,1}[A-Za-zÑñÁáÉéÍíÓóÚú]+))*$">
          </div>
        </div>

        <button type="submit" class="text-white bg-green-500 hover:bg-green-600 hover:text-black focus:ring-4
        focus:outline-none focus:ring-green-200 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
          Registrar
          <i class="fas fa-chevron-circle-right pl-2"></i>
        </button>
      </form>
    </main>
    <footer th:replace="layout/layout :: footer"></footer>

  </div>

</div>

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

</body>

</html>