<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
    <meta charset="UTF-8">
</head>
<body class="bg-gray-300 font-sans flex overflow-y-hidden">

<nav th:replace="layout/layout :: navbar"></nav>

<!--Contenedor-->
<div class="w-full flex flex-col h-screen overflow-y-hidden">
    <header th:replace="layout/layout :: headerdk"></header>
    <header th:replace="layout/layout :: headerm"></header>

    <div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
        <main class="w-full flex-grow p-6">
            <h1 class="text-2xl text-gray-700 font-bold pb-2">Ficha Personal</h1>
            <div class="flex mt-1">
                <div class="w-full">
                    <div class="p-6 space-x-4 flex">
                        <img class="object-fill h-48 w-48"
                             th:src="@{/svgs/administrador.png}" alt="competidores-fondo"/>
                        <div class="leading-8">
                                <span class="font-bold text-base">Nombre de Usuario: </span>
                                <span class="text-base" th:text="${usuario}"></span>
                                <br>
                                <span class="font-bold text-base">Suscriptor: </span>
                                <span class="text-base" th:text="${personas.nombre}+' '
                                +${personas.apellidos}"></span>
                                <br>
                                <span class="font-bold text-base">Correo electrónico: </span>
                                <span class="text-base" th:text="${personas.email}"></span>
                                <br>
                                <span class="font-bold text-base">Teléfono: </span>
                                <span class="text-base" th:text="${personas.telefono}"></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="layout/layout :: footer"></footer>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

</body>

</html>