<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
    <meta charset="UTF-8">
</head>
<body class="bg-gray-300 font-sans flex overflow-y-hidden">

<nav th:replace="layout/layout :: navbar"></nav>

<!--Contenedor-->
<div class="w-full flex flex-col h-screen overflow-y-hidden">
    <header th:replace="layout/layout :: headerdk"></header>
    <header th:replace="layout/layout :: headerm"></header>

    <div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
        <main class="w-full flex-grow p-6">
            <h1 th:text="${titulo}" class="text-2xl dark:text-white text-black-alt font-bold pb-6"></h1>
            <form th:action="@{/gym/personas/guardar}" th:object="${personas}" method="post">
                <input type="hidden" th:field="*{idPersona}" th:value="${personas.idPersona}"/>
                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div>
                        <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
                        <input type="text" id="nombre" th:field="*{nombre}" class="bg-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder:text-gray-500" placeholder="Ingrese su nombre" required>
                        <small class="bg-red-300 p-2.5 mb-4 rounded-lg"    th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                    </div>
                    <div>
                        <label for="apellidos" class="block mb-2 text-sm font-medium text-gray-900">Apellidos</label>
                        <input type="text" id="apellidos" th:field="*{apellidos}" class="bg-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder:text-gray-500" placeholder="Ingrese sus apellidos" required>
                        <small class="bg-red-300 p-2.5 mb-4 rounded-lg"  th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"></small>
                    </div>
                    <div>
                        <label for="cedula" class="block mb-2 text-sm font-medium text-gray-900">Cédula</label>
                        <input type="text" id="cedula" th:field="*{cedula}" class="bg-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder:text-gray-500" placeholder="Ingrese su cédula" required>
                        <small class="bg-red-300 p-2.5 mb-4 rounded-lg"    th:if="${#fields.hasErrors('cedula')}" th:errors="*{cedula}"></small>
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                        <input type="email" id="email" th:field="*{email}" class="bg-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder:text-gray-500" placeholder="Ingrese su correo electrónico" required>
                        <small class="bg-red-300 p-2.5 mb-4 rounded-lg"   th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                    </div>
                    <div>
                        <label for="edad" class="block mb-2 text-sm font-medium text-gray-900">Edad</label>
                        <input type="number" id="edad" th:field="*{edad}" class="bg-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
                        <small class="bg-red-300 p-2.5 mb-4 rounded-lg"    th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></small>
                    </div>
                    <div>
                        <label for="telefono" class="block mb-2 text-sm font-medium text-gray-900">Teléfono</label>
                        <input type="tel" id="telefono" th:field="*{telefono}" class="bg-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder:text-gray-500" placeholder="Número telefónico" required>
                        <small class="bg-red-300 p-2.5 mb-4 rounded-lg"   th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small>
                    </div>
                    <div>
                        <label for="peso" class="block mb-2 text-sm font-medium text-gray-900">Peso</label>
                        <input type="number" step="0.1" min="30" max="250"  id="peso" th:field="*{peso}" class="bg-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder:text-gray-500" placeholder="Peso" required>
                        <small class="bg-red-300 p-2.5 mb-4 rounded-lg"    th:if="${#fields.hasErrors('peso')}" th:errors="*{peso}"></small>
                    </div>
                    <div>
                        <label for="estatura" class="block mb-2 text-sm font-medium text-gray-900">Estatura</label>
                        <input type="number" step="0.1" min="120" max="210" id="estatura" th:field="*{estatura}" class="bg-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder:text-gray-500" placeholder="Estatura" required>
                        <small class="bg-red-300 p-2.5 mb-4 rounded-lg"   th:if="${#fields.hasErrors('estatura')}" th:errors="*{estatura}"></small>
                    </div>
                    <div class="mb-6">
                        <label for="rol" class="block mb-2 text-sm font-medium text-gray-900">Rol</label>
                        <select class="p-1.5 bg-gray-400 focus:border-blue-500 focus:outline-none w-full" id="rol" th:field="*{roles.idRol}" required>
                        <th:block th:each="roles : ${listaRoles}">
                            <option th:text="${roles.nombre}" th:value="${roles.idRol}"></option>
                        </th:block>
                        </select>
                    </div>
                </div>
                <button type="submit" class="text-white bg-green-500 hover:bg-green-600 hover:text-black focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Registrar
                    <i class="fas fa-chevron-circle-right pl-2"></i>
                </button>
            </form>
        </main>
        <footer th:replace="layout/layout :: footer"></footer>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

</body>

</html>