<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
    <meta charset="UTF-8">
</head>
<body class="bg-gray-300 font-sans flex overflow-y-hidden">

<nav th:replace="layout/layout :: navbar"></nav>

<!--Contenedor-->
<div class="w-full flex flex-col h-screen overflow-y-hidden">
    <header th:replace="layout/layout :: headerdk"></header>
    <header th:replace="layout/layout :: headerm"></header>

    <div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
        <main class="w-full flex-grow p-6">
            <h1 th:text="${titulo}" class="text-2xl dark:text-white text-black-alt font-bold pb-6"></h1>
            <form th:action="@{/gym/personas/guardar}" th:object="${personas}" method="post">
                <input type="hidden" th:field="*{idPersona}" th:value="${personas.idPersona}"/>
                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div>
                        <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
                        <input type="text" id="nombre" th:field="*{nombre}" class="bg-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder:text-gray-500" placeholder="Ingrese su nombre" required
                        pattern="^([A-Za-zÑñÁáÉéÍíÓóÚú]+['\-]{0,1}[A-Za-zÑñÁáÉéÍíÓóÚú]+)(\s+([A-Za-zÑñÁáÉéÍíÓóÚú]+['\-]{0,1}[A-Za-zÑñÁáÉéÍíÓóÚú]+))*$">
                        <small class="bg-red-300 p-2.5 mb-4 rounded-lg"    th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                    </div>
                    <div>
                        <label for="apellidos" class="block mb-2 text-sm font-medium text-gray-900">Apellidos</label>
                        <input type="text" id="apellidos" th:field="*{apellidos}" class="bg-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder:text-gray-500" placeholder="Ingrese sus apellidos" required
                               pattern="^([A-Za-zÑñÁáÉéÍíÓóÚú]+['\-]{0,1}[A-Za-zÑñÁáÉéÍíÓóÚú]+)(\s+([A-Za-zÑñÁáÉéÍíÓóÚú]+['\-]{0,1}[A-Za-zÑñÁáÉéÍíÓóÚú]+))*$">
                        <small class="bg-red-300 p-2.5 mb-4 rounded-lg"  th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"></small>
                    </div>
                    <div>
                        <label for="cedula" class="block mb-2 text-sm font-medium text-gray-900">Cédula</label>
                        <input type="text" id="cedula" th:field="*{cedula}" class="bg-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder:text-gray-500" placeholder="Ingrese su cédula" required>
                        <small class="bg-red-300 p-2.5 mb-4 rounded-lg"    th:if="${#fields.hasErrors('cedula')}" th:errors="*{cedula}"></small>
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                        <input type="email" id="email" th:field="*{email}" class="bg-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder:text-gray-500" placeholder="Ingrese su correo electrónico" required>
                        <small class="bg-red-300 p-2.5 mb-4 rounded-lg"   th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                    </div>
                    <div>
                        <label for="edad" class="block mb-2 text-sm font-medium text-gray-900">Edad</label>
                        <input type="number" id="edad" th:field="*{edad}" class="bg-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
                        <small class="bg-red-300 p-2.5 mb-4 rounded-lg"    th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></small>
                    </div>
                    <div>
                        <label for="telefono" class="block mb-2 text-sm font-medium text-gray-900">Teléfono</label>
                        <input type="tel" id="telefono" th:field="*{telefono}" class="bg-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder:text-gray-500" placeholder="Número telefónico (+593)" required
                        maxlength="9">
                        <small class="bg-red-300 p-2.5 mb-4 rounded-lg"   th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small>
                        <script>
                        const phoneInput = document.getElementById("telefono");
                        phoneInput.addEventListener("input", function(event) {
                            const inputValue = event.target.value;
                            const formattedValue = inputValue.replace(/^0/, ""); // Remove leading zero
                            event.target.value = formattedValue;
                        });
                        </script>
                    </div>
                    <div>
                        <label for="peso" class="block mb-2 text-sm font-medium text-gray-900">Peso</label>
                        <input type="number" step="0.1" min="30" max="250"  id="peso" th:field="*{peso}" class="bg-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder:text-gray-500" placeholder="Peso" required>
                        <small class="bg-red-300 p-2.5 mb-4 rounded-lg"    th:if="${#fields.hasErrors('peso')}" th:errors="*{peso}"></small>
                    </div>
                    <div>
                        <label for="estatura" class="block mb-2 text-sm font-medium text-gray-900">Estatura</label>
                        <input type="number" step="0.1" min="120" max="210" id="estatura" th:field="*{estatura}" class="bg-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder:text-gray-500" placeholder="Estatura" required>
                        <small class="bg-red-300 p-2.5 mb-4 rounded-lg"   th:if="${#fields.hasErrors('estatura')}" th:errors="*{estatura}"></small>
                    </div>
                    <!--Div y Select para cinturones de BJJ-->
                    <div>
                        <label for="cinturonbjj" class="block mb-2 text-sm font-medium text-gray-900">Cinturón BJJ</label>
                        <div class="grid grid-cols-2">
                        <select id="cinturonbjj" class="p-1.5 bg-gray-400 mb-4 mr-2 rounded-lg focus:border-blue-500 focus:outline-none w-full"
                                th:field="*{cinturonbjj}">
                            <option value="Blanco">Blanco</option>
                            <option value="Gris blanco">Gris blanco</option>
                            <option value="Gris">Gris</option>
                            <option value="Gris negro">Gris negro</option>
                            <option value="Amarillo blanco">Amarillo blanco</option>
                            <option value="Amarillo">Amarillo</option>
                            <option value="Amarillo negro">Amarillo negro</option>
                            <option value="Naranja blanco">Naranja blanco</option>
                            <option value="Naranja">Naranja</option>
                            <option value="Naranja negro">Naranja negro</option>
                            <option value="Verde blanco">Verde blanco</option>
                            <option value="Verde">Verde</option>
                            <option value="Verde negro">Verde negro</option>
                            <option value="Azul">Azul</option>
                            <option value="Púrpura">Púrpura</option>
                            <option value="Marrón">Marrón</option>
                            <option value="Negro">Negro</option>
                        </select>
                        <select id="gradosbjj" class="p-1.5 bg-gray-400 mb-4 ml-2 rounded-lg focus:border-blue-500 focus:outline-none w-full"
                                th:field="*{gradosbjj}">
                            <option value="">Sin grados</option>
                            <option value="1 grado">1 grado</option>
                            <option value="2 grados">2 grados</option>
                            <option value="3 grados">3 grados</option>
                            <option value="4 grados">4 grados</option>
                        </select>
                        </div>
                    </div>
                    <!--Div y Select para cinturones de KB-->
                    <div>
                        <label for="cinturonkb" class="block mb-2 text-sm font-medium text-gray-900">Cinturón KB</label>
                        <select id="cinturonkb" class="p-1.5 bg-gray-400 mb-4 focus:border-blue-500 focus:outline-none w-full"
                                th:field="*{cinturonkb}">
                            <option value="Blanco">Blanco</option>
                            <option value="Amarillo">Amarillo</option>
                            <option value="Naranja">Naranja</option>
                            <option value="Verde">Verde</option>
                            <option value="Azul">Azul</option>
                            <option value="Púrpura">Púrpura</option>
                            <option value="Marrón">Marrón</option>
                            <option value="Negro">Negro</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="text-white bg-green-500 hover:bg-green-600 hover:text-black focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Registrar
                    <i class="fas fa-chevron-circle-right pl-2"></i>
                </button>
            </form>
        </main>
        <footer th:replace="layout/layout :: footer"></footer>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

</body>

</html>