<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
  <meta charset="UTF-8">
</head>
<body class="bg-gray-300 font-sans flex overflow-y-hidden">

<nav th:replace="layout/layout :: navbar"></nav>

<!--Contenedor-->
<div class="w-full flex flex-col h-screen overflow-y-hidden">
  <header th:replace="layout/layout :: headerdk"></header>
  <header th:replace="layout/layout :: headerm"></header>

  <div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
    <main class="w-full flex-grow p-6">
      <h1 class="text-2xl text-gray-700 font-bold pb-6">Módulo de Reportes</h1>
      <div class="flex flex-wrap justify-center mt-6">
        <div class="w-7/12 p-3">
          <div class="bg-cyan-900 border border-gray-800 rounded-xl shadow p-2">
            <div class="flex flex-col items-center">
              <div class="flex-shrink pr-4">
                <div class="p-3 bg-cyan-900"><i class="fa fa-wallet fa-3x fa-inverse"></i></div>
              </div>
              <div class="flex-1 text-right md:text-center">
                <a th:href="@{/gym/reportes/gananciasMensuales}"><h3 class="font-semibold text-2xl text-white">Reporte  mensual de ingresos</h3></a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-7/12 p-3">
          <div class="bg-cyan-900  border border-gray-800 rounded-xl shadow p-2">
            <div class="flex flex-col items-center">
              <div class="flex-shrink pr-4">
                <div class="p-3 bg-cyan-900 "><i class="fas fa-users-slash fa-3x fa-inverse"></i></div>
              </div>
              <div class="flex-1 text-right md:text-center">
                <a th:href="@{/gym/reportes/deudores}"><h3 class="font-semibold text-2xl text-white">Reporte mensual de deudores</h3></a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-7/12 p-3">
          <div class="bg-cyan-900 border border-gray-800 rounded-xl shadow p-2">
            <div class="flex flex-col items-center">
              <div class="flex-shrink pr-4">
                <div class="p-3 bg-cyan-900 "><i class="fas fa-file-invoice-dollar fa-3x fa-inverse"></i></div>
              </div>
              <div class="flex-1 text-right md:text-center">
                <a th:href="@{/gym/reportes/gananciasAnuales}"><h3 class="font-semibold text-2xl text-white">Reporte anual de ingresos </h3></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
    <footer th:replace="layout/layout :: footer"></footer>

  </div>

</div>

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

</body>

</html>