<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
  <meta charset="UTF-8">
</head>
<body class="bg-gray-300 font-sans flex">

<nav th:replace="layout/layout :: navbar"></nav>

<!--Contenedor-->
<div class="w-full flex flex-col h-screen overflow-y-hidden">
  <header th:replace="layout/layout :: headerdk"></header>
  <header th:replace="layout/layout :: headerm"></header>

  <div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
    <main class="w-full flex-grow p-6">
      <h1 th:text="${titulo}" class="text-2xl dark:text-white text-black-alt font-bold pb-6">Registro de torneos</h1>
      <form th:action="@{/gym/torneos/guardar}" th:object="${torneos}" method="post">
        <input type="hidden" th:field="*{idTorneo}" th:value="${torneos.idTorneo}"/>
        <div class="grid gap-6 mb-6 md:grid-cols-2">
          <div>
            <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900">Nombre del torneo</label>
            <input type="text" id="nombre" th:field="*{nombre}" class="bg-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder:text-gray-500" placeholder="Ingrese el nombre del torneo" required>
          </div>
          <div>
            <label for="fecha" class="block mb-2 text-sm font-medium text-gray-900">Fecha del torneo</label>
            <input type="date" id="fecha" th:value="${torneos.fecha}" th:field="*{fecha}" class="bg-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5" required>
          </div>
          <div>
            <label for="ciudad" class="block mb-2 text-sm font-medium text-gray-900">Ciudad</label>
            <input type="text" id="ciudad" th:field="*{ciudad}" class="bg-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder:text-gray-500" placeholder="Ingrese la ciudad" required>
          </div>
          <div>
            <label for="disciplina" class="block mb-2 text-sm font-medium text-gray-900">Disciplina</label>
            <select class="p-1.5 bg-gray-400 focus:border-blue-500 focus:outline-none w-full" id="disciplina" th:field="*{idDisciplina}" required>
              <th:block th:each="disciplinas : ${listaDisciplinas}">
                <option th:text="${disciplinas.nombre}" th:value="${disciplinas.idDisciplina}"></option>
              </th:block>
            </select>
          </div>
        </div>

        <button type="submit" class="text-white bg-green-500 hover:bg-green-600 hover:text-black focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Registrar
          <i class="fas fa-chevron-circle-right pl-2"></i>
        </button>
      </form>
    </main>
    <footer th:replace="layout/layout :: footer"></footer>

  </div>

</div>

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

</body>

</html>